.logo{
  font-family: Roboto Black;
  color: #FF7BAC;
  font-size: 90px;
  font-weight: 10;
  margin-bottom: -20px;
}
.info{
  font-family: Roboto Light;
  color: #666666;
  font-size: 25px;
  font-weight: 10;
}
.search{
  margin-top: 15px;
  max-width: 700px;
}
div {
  background: rgba(76, 175, 80, 0.0) /* Green background with 30% opacity */
}
.text-small {
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover, a:focus {
  text-decoration: none;
}

footer {
  background: #212529;
}
@media only screen and (max-width: 600px){
  .logo{
  font-family: Roboto Black;
  color: #FF7BAC;
  font-size: 70px;
  font-weight: 7;
  margin-bottom: -20px;
}
}